<div>
  <form class="login-form col-6 mx-auto">
    <div class="mb-3">
      <label for="email-login" class="form-label mt-5">Email:</label>
      <input class="form-control" type="email" id="email-login">
    </div>
    <div class="form-group">
      <label for="password-login" class="form-label">Password:</label>
      <input class="form-control" type="password" id="password-login" />
    </div>
    <div class="form-group col-4 mx-auto">
      <button class="btn btn-info d-grid gap-2 col-12 mt-5 mx-auto" type="submit">Login</button>
    </div>
  </form>
<div class="col-2 mx-auto">
  <a href="/signup"><button class="mt-2 btn btn-info d-grid gap-2 col-12 mx-auto" type="submit">Signup</button></a>
</div>
</div>
</div>

<script src="/js/login.js"></script>