<div>
    <form class="signUp-form col-6 mx-auto">
        <div class="mb-3">
            <h2 class="text-center mt-5">Login</h2>
            <label for="username-signup" class="form-label">Username:</label>
            <input class="form-control" type="text" id="username-signup">
        </div>
<div class="mb-3">
    <label for="email-signup" class="form-label">Email:</label>
    <input class="form-control" type="email" id="email-signup">
</div>
<label for="password-signup" class="form-label">Password:</label>
<input class="form-control" type="password" id="password-signup">
</div>
<button class="btn btn-info d-grid gap-2 col-3 mx-auto mt-5" type="submit">Create Account</button>
</form>
</br>
<a href="/login"><button class="btn btn-info d-grid gap-2 col-3 mx-auto" type="submit">Login</button></a>
</div>
</div>

<script src="/js/signup.js"></script>